<div class="product-details col s4" id="product-<%= product.id %>-details">
    <h4><%= product.name %></h4>
    <p> <%= product.description %> </p>
    <p> $<%= product.price %> </p>
    <p> <%= link_to 'Product Details', show_details_product_path(product), class: "btn btn-info", remote: true %></p>
    <% if admin %>
          <div class="btn-group">
            <%= link_to 'Edit product', edit_product_path(product), class: "btn btn-warning", remote: true  %>
            <%= link_to 'Delete product', product, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger", remote: true %>
          </div>
        <% end %>
</div>